@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
body {
background-image: url(./bild/premium_photo-1716025288906-6b6f44f882cb.avif);
background-position: 0 -500px;
background-attachment: fixed;
background-repeat: no-repeat;
}
h1 {
font-family: "Protest Guerrilla", system-ui;
font-size: 100px;
color: aqua;
text-transform: uppercase;
text-shadow: 5px 5px 0 blue;
margin-top: 100px;
margin-left: 100px;
}
h2 {
    font-family: "Protest Guerrilla", system-ui;
    font-size:  50px; ;
    color: aqua;
    text-shadow: 3px 3px 0 blue;
    margin-top: 100px;
    margin-left: 100px;
}
p {
    font-family: "Protest Guerrilla", system-ui;
    font-size: 25px;
    text-transform: uppercase;
}
a {
    color: aqua;
text-decoration: none;
background-color: #db33e0;
padding-left: 50px;
padding-top: 10px;
padding-right: 50px;
padding-bottom: 5px;
border-radius: 5px;
border: 5px solid white;
margin-left: 900px;
margin-bottom: 300px;
}
