@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
body {
    background-image: url(./bild/photo-1427501482951-3da9b725be23.avif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
h1 {
    font-family: "Protest Guerrilla", system-ui;
    font-size: 80px;
    margin-left:550px;
    margin-right: 512px;
    color: white;
    background-color: black;
}
p {
    font-family: "Protest Guerrilla", system-ui;
    background-color: black;
    font-size: 20px;
    box-shadow: 50px;
    width: 650px;
    margin-left: 450px;
    margin-top: 50px ;
    color: white;
}
img {
width: 600px;
margin-left: 450px;
}
